{% extends 'App/base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="login">
    <div class="login-inner">
        <h1>Login</h1>
        <div class="separator"></div>

        <div class="mb-2">
            <form method="POST" action="{% url 'login' %}" class="login-form">
            
                {% csrf_token %}
                {{ form.captcha }} 
                {% if form.errors %}
                    <p style="color: red;">Wrong username or password. Try again.</p>
                {% endif %}

                <p>
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </p>

                <p>
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    <button type="button" onclick="togglePassword()">See</button>
                </p>

                <p>
                    {% comment %} {{ form.captcha.label_tag }} {% endcomment %}
                    {% comment %} {{ form.captcha }} {% endcomment %}
                </p>

                <button class="btn btn-secondary" type="submit">Login</button>
            </form>

            {{ form.media }}

            <p><a href="{% url 'password_reset' %}">Forgot Password?</a></p>
        </div>

        <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </div>
</div>

<script>
function togglePassword() {
    var passwordInput = document.querySelector("input[name='password']");
    if (passwordInput.type === 'password') {
        passwordInput.type = 'text';
    } else {
        passwordInput.type = 'password';
    }
}
</script>

{% endblock %}
