{% extends 'App/base.html' %}
{% load static %}
{% block title %}Register{% endblock %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="register">
    <div class="register-inner">
        <div>
            <h1>Register</h1>
            <div class="separator"></div>
        </div>

        <form method="POST" class="register-form">
            {% csrf_token %}
            {{ form.as_p }}

            <div class="password-toggle">
                <button type="button" onclick="togglePasswords()" class="see-button">See</button>
            </div>

            <button type="submit" class="register-button">Register</button>
        </form>

    </div>
</div>

<script>
function togglePasswords() {
    var passwordFields = ['id_password1', 'id_password2'];
    passwordFields.forEach(function(fieldId) {
        var passwordField = document.getElementById(fieldId);
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
        } else {
            passwordField.type = 'password';
        }
    });
}
</script>

{% endblock %}
