{% extends 'App/base2.html' %}
{% block content %}
  <!-- <h2>Create A New Alert</h2>
  <a href="{% url 'alert_create' %}">Create Alert</a> -->
  <ul>
    {% for alert in alerts %}
      <li>
        <h3>{{ alert.title }}</h3>
        <p><strong>Description:</strong> {{ alert.description }}</p>
        <p><strong>Location:</strong> {{ alert.location }}</p>
        <p><strong>Contact:</strong> {{ alert.phoneNumber}}</p>
        <p><strong>Date:</strong> {{ alert.date_created }}</p>
        <p><strong>Status:</strong> {% if alert.is_active %}Active{% else %}Inactive{% endif %}</p>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
