{% extends 'App/base2.html' %}

{% block content %}
<style>
    .resource-list {
        background-color: rgb(60, 135, 115);
        padding: 20px;
    }

    .resource-list h2 {
        color: white;
    }

    .resource-list ul {
        list-style-type: none;
        padding-left: 0;
    }

    .resource-list li {
        background: white;
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
</style>

<div class="resource-list">
    <h2>Here Are Our Available Resources</h2>

    {% if resources %}
        <ul>
            {% for resource in resources %}
                <li>
                    <strong>{{ resource.resource_type }}</strong>: {{ resource.description }}
                    <br>
                    {% comment %} <small>Location: {{ resource.location }} | Contributor: {{ resource.contributor.username }}</small> {% endcomment %}
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No resources available at the moment.</p>
    {% endif %}

    <p>Want to share resources? <a href="{% url 'resource_create' %}">Click here to contribute!</a></p>
</div>
{% endblock %}
